<mat-card class="example-card card-section">
  <mat-card-header class="card-header-no-padding p-16 card-header">
    <mat-card-title>Formulario</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mt-5">
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
  </mat-card-actions>
</mat-card>
